{#eclipse_base title='404 File not found'}
{#content}
  <p>We're sorry, the page you requested cannot be found. Below are some links that may be useful.</p>
  <ul>
    <li><a href="//eclipse.org">Eclipse home</a></li>
    <li><a href="//eclipse.org/projects/searchpage.php">Search</a> our site</li>
    <li>Website <a href="//eclipse.org/legal/privacy.php">privacy policy</a> and <a href="//eclipse.org/legal/termsofuse.php">terms of use</a></li>
    <li><a href="//eclipse.org/legal">Legal documents</a></li>
    <li><a href="//eclipse.org/artwork/">Logos</a> and artwork</li>
    <li><a href="//wiki.eclipse.org/index.php/Webmaster_FAQ">webmaster FAQ</a></li>
    <li><a href="mailto:webmaster@eclipse.org">Email the webmaster</a></li>
  </ul>
  <br><br>
{/}
{/}